@font-face {
    font-family: Cyber;
    src: url('https://assets.codepen.io/605876/Blender-Pro-Bold.otf');
    font-display: swap;
}

body,
html {
    font-family: 'Cyber', sans-serif !important;
    height: 100%;
    margin: 0;
}

.app-container {
    background-image: url("https://res.cloudinary.com/vernom/image/upload/v1639472563/realtime_chat_app/page_bg/chatroom-bg_a2qrpc.gif");
    background-position: center;
    background-size: cover;
    overflow: auto;

    .app-header {
        position: absolute;
        width: 100%;
        top: 30px;

        .btn-logout {
            margin-right: 30px;
        }
    }
}

.chat {
    margin-top: auto;
    margin-bottom: auto;

    .card {
        height: 500px;
        border-radius: 15px !important;
        background-color: rgba(0, 0, 0, 0.4) !important;

        .card-header {
            border-radius: 15px 15px 0 0 !important;
            border-bottom: 0 !important;

            .search_btn {
                border-radius: 0 15px 15px 0 !important;
                background-color: rgba(0, 0, 0, 0.3) !important;
                border: 0 !important;
                color: white !important;
                cursor: pointer;
            }

            .search {
                border-radius: 15px 0 0 15px !important;
                background-color: rgba(0, 0, 0, 0.3) !important;
                border: 0 !important;
                color: white !important;

                &:focus {
                    box-shadow: none !important;
                    outline: 0 !important;
                }
            }
        }

        .msg_head {
            position: relative;
        }

        .msg_card_body {
            overflow-y: auto;
        }

        .card-footer {
            border-radius: 0 0 15px 15px !important;
            border-top: 0 !important;

            .type_msg {
                background-color: rgba(255, 255, 255, 0.2) !important;
                border: 0 !important;
                color: white !important;
                height: 60px !important;
                overflow-y: auto;
                border-radius: 15px 0 0 15px !important;

                &:focus {
                    box-shadow: none !important;
                    outline: 0 !important;
                }
            }

            .send_btn {
                border-radius: 0 15px 15px 0 !important;
                background-color: rgba(0, 0, 0, 0.3) !important;
                border: 0 !important;
                color: white !important;
                cursor: pointer;
            }
        }
    }

    .contacts_body {
        padding: 0.75rem 0 !important;
        overflow-y: auto;
        white-space: nowrap;

        .contacts {
            list-style: none;
            padding: 0;

            li {
                width: 100% !important;
                padding: 5px 10px;
                transition: background-color .2s;
                cursor: pointer;
                position: relative;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.3);
                }

                &.active {
                    background-color: rgba(0, 0, 0, 0.3);
                }

                .current-user-mark {
                    height: 100%;
                    width: 3px;
                    background: #00ffa4;
                    position: absolute;
                    left: 0;
                    top: 0;
                }

                .img_cont {
                    position: relative;

                    .user_img {
                        height: 45px;
                        width: 45px;
                        border: 2px solid #f5f6fa;
                    }
                }
            }
        }
    }
}

.container {
    align-content: center;
}

.user_img_msg {
    height: 40px;
    width: 40px;
    border: 2px solid #f5f6fa;
}

.online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: lawngreen;
    border-radius: 50%;
    bottom: 17px;
    right: 0;
    border: 2px solid white;
}

.offline {
    background-color: #c2c2c2 !important;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.user_info span {
    font-size: 20px;
    color: white;
}

.user_info p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
}

.msg_container {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: lawngreen;
    padding: 10px;
    position: relative;
    color: black;
    word-break: break-word;
    max-width: 70%;
}

.msg_container_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #42e274;
    padding: 10px;
    position: relative;
    color: white;
    word-break: break-word;
    max-width: 70%;
}

@media(max-width: 768px) {
    .app-container {
        height: auto !important;

        .app-header {
            position: initial;
            padding-top: 30px;

            .btn-logout {
                margin-right: 0;
            }
        }

        .chat {
            margin-top: 1rem;

            &:last-child, &:first-child {
                margin-top: 1rem;
            }
        }
    }
}

@media(max-width: 576px) {
    .contacts_card {
        margin-bottom: 15px !important;
    }
}

.font-12px {
    font-size: 12px !important;
}

.private-message-container {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 300px;

    &.expand {
        height: 350px;
    }

    .chat-header {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        transition: background-color .2s;
        cursor: pointer;

        &:hover {
            background-color: #e6e5e5;
        }

        .img_cont {
            position: relative;
        }

        .btn-close {
            position: absolute;
            right: 15px;
            top: 15px;
            outline: none;
            border: none;
            background: none;

            i {
                font-size: 18px;
                transition: transform .2s;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }

    .private-chat-body {
        height: calc(100% - 65px - 40px);
        overflow-y: scroll;

        .msg_container_send {
            padding: 5px 10px 5px 10px !important;
            border-radius: 15px !important;
            max-width: 165px;
        }

        .msg_container {
            padding: 5px 10px 5px 10px !important;
            border-radius: 15px !important;
            max-width: 165px;
        }
    }

    .text-input {
        input {
            height: 40px;
            border: none;
            border-top: solid 1px #ddd;
            outline: none;
            padding: 7px;
            font-size: 12px;
        }
    }
}

.img_cont_msg {
    width: 40px;
    height: 40px;

    span {
        width: 36px;
        height: 36px;
    }
}

@keyframes wave {
    0%,
    60%,
    100% {
        transform: initial;
    }
    30% {
        transform: translateY(-15px);
    }
}

#wave {
    .dot {
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin-right: 1px;
        background: white;
        animation: wave 1.3s linear infinite;
        margin-bottom: 3px;

        &:nth-child(2) {
            animation-delay: -1.1s;
        }

        &:nth-child(3) {
            animation-delay: -0.9s;
        }
    }
}

.blink-anim {
    animation: blink 2s infinite;
}

@keyframes wave {
    0%,
    60%,
    100% {
        transform: initial;
    }
    30% {
        transform: translateY(-7px);
    }
}

@keyframes blink {
    0%, 100% {
        background: white;
    }
    50% {
        background: #2e7fd7;
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
    opacity: 0;
}

.slide {
    &-left, &-right {
        &-enter, &-leave {
            &-active {
                transition: all .5s cubic-bezier(.55, 0, .1, 1);
            }
        }
    }
}

.slide {
    &-left-enter, &-right-leave-active {
        opacity: 0;
        transform: translate(30px, 0);
    }
}

.slide {
    &-left-leave-active, &-right-enter {
        opacity: 0;
        transform: translate(-30px, 0);
    }
}

$shimmy-distance: var(--shimmy-distance);

.logout-cyber-btn {
    --primary: hsl(var(--primary-hue), 100%, calc(var(--primary-lightness, 50) * 1%));
    --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
    --primary-hue: 55;
    --primary-lightness: 60;
    --color: hsl(0, 0%, 100%);
    --font-size: 20px;
    --shadow-primary-hue: 180;
    --label-size: 7px;
    --shadow-secondary-hue: 60;
    --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
    --clip: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 70%);
    --border: 4px;
    --shimmy-distance: 8;
    --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
    --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
    --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
    --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
    --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
    font-family: 'Cyber', sans-serif;
    cursor: pointer;
    background: transparent;
    text-transform: uppercase;
    font-size: var(--font-size);
    color: black !important;
    outline: transparent;
    letter-spacing: 2px;
    position: relative;
    font-weight: 700;
    border: 0;
    min-width: 200px;
    height: 50px;
    line-height: 36px;
    transition: background 0.2s;
    padding: 0.5rem 1rem;
    text-align: center;
    margin-top: 10px;
    z-index: 0;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        clip-path: var(--clip);
        z-index: -1;
        background: lawngreen;
        transform: translate(var(--border), 0);
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        clip-path: var(--clip);
        z-index: -1;
        background: var(--primary);
    }
}

.logout-cyber-btn:hover {
    --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.8%));
}

.logout-cyber-btn:active {
    --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.6%));
}

.logout-cyber-btn__tag {
    position: absolute;
    padding: 1px 0;
    letter-spacing: 1px;
    line-height: 1;
    bottom: -5%;
    right: 5%;
    font-weight: normal;
    color: white;
    font-size: var(--label-size);
}

.logout-cyber-btn__glitch {
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    bottom: -2px;
    background: var(--primary);
    text-shadow: 2px 2px var(--primary), -2px -2px var(--shadow-secondary);
    clip-path: var(--clip);
    animation: glitch 2s infinite;
    display: none;

    &:before {
        content: '';
        position: absolute;
        top: calc(var(--border) * -1);
        right: calc(var(--border) * 1);
        bottom: calc(var(--border) * 1);
        left: calc(var(--border) * 1);
        clip-path: var(--clip);
        background: lawngreen;
        z-index: -1;
    }
}

.logout-cyber-btn:hover .logout-cyber-btn__glitch {
    display: block;
}

@keyframes glitch {
    0% {
        clip-path: var(--clip-one);
    }
    2%, 8% {
        clip-path: var(--clip-two);
        transform: translate(calc(#{$shimmy-distance} * -1%), 0);
    }
    6% {
        clip-path: var(--clip-two);
        transform: translate(calc(#{$shimmy-distance} * 1%), 0);
    }
    9% {
        clip-path: var(--clip-two);
        transform: translate(0, 0);
    }
    10% {
        clip-path: var(--clip-three);
        transform: translate(calc(#{$shimmy-distance} * 1%), 0);
    }
    13% {
        clip-path: var(--clip-three);
        transform: translate(0, 0);
    }
    14%, 21% {
        clip-path: var(--clip-four);
        transform: translate(calc(#{$shimmy-distance} * 1%), 0);
    }
    25% {
        clip-path: var(--clip-five);
        transform: translate(calc(#{$shimmy-distance} * 1%), 0);
    }
    30% {
        clip-path: var(--clip-five);
        transform: translate(calc(#{$shimmy-distance} * -1%), 0);
    }
    35%, 45% {
        clip-path: var(--clip-six);
        transform: translate(calc(#{$shimmy-distance} * -1%));
    }
    40% {
        clip-path: var(--clip-six);
        transform: translate(calc(#{$shimmy-distance} * 1%));
    }
    50% {
        clip-path: var(--clip-six);
        transform: translate(0, 0);
    }
    55% {
        clip-path: var(--clip-seven);
        transform: translate(calc(#{$shimmy-distance} * 1%), 0);
    }
    60% {
        clip-path: var(--clip-seven);
        transform: translate(0, 0);
    }
    31%, 61%, 100% {
        clip-path: var(--clip-four);
    }
}

.logout-cyber-btn:nth-of-type(2) {
    --primary-hue: 260;
}
