@font-face {
    font-family: Cyber;
    src: url('https://assets.codepen.io/605876/Blender-Pro-Bold.otf');
    font-display: swap;
}

body,
html {
    font-family: 'Cyber', sans-serif !important;
    height: 100%;
    margin: 0;
}

.app-container {
    background-image: url("https://res.cloudinary.com/vernom/image/upload/v1639472563/realtime_chat_app/page_bg/chatroom-bg_a2qrpc.gif");
    background-position: center;
    background-size: cover;
    overflow: auto;

    .app-header {
        position: absolute;
        width: 100%;
        top: 30px;

        .btn-logout {
            margin-right: 30px;
        }
    }
}



